{% extends "/panel/templates/panel.html" %}
{% block content %}
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Olá!</h4>
    <p>Bem-vindo ao <strong>painel de controle</strong> da Semana Nacional de Ciência e Tecnologia. Aqui você poderá se
        inscrever, e controlar atividades. Não se preocupe, reunimos tudo o que você precisa neste painel seja você um
        visitante ou um administrador. Pode começar utilizando o menu ao lado.</p>
    <hr>
    <p class="mb-0">Se você não está vendo alguma áreas de acesso e você acredita que isto é um erro, consulte a comissão da SNCT.</p>
</div>
<h4>Acesso rápido</h4>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
{% endblock %}