{% extends "/panel/templates/panel.html" %}
{% block content %}
<h4>Listar inscrições</h4>
<hr />
{% for sessao in inscritos %}
<h4>Sessão {{ loop.index }}</h4>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Compareceu a sessão?</th>
        <th scope="col">Opções</th>
    </tr>
    </thead>
    <tbody>
    {% for user in sessao %}
    <tr>
        <td>{{ user['nome'] }}</td>
        <td>{{ user['email'] }}</td>
        {% if user['compareceu'] %}
        <td><i class="fas fa-check"></i></td>
        {% else %}
        <td><i class="fas fa-times"></i></td>
        {% endif %}
        <td>
            <a href="{{ path_for('monitor.inscricao.atualizar', { 'id_inscricao': user['id_inscricao'], 'valor': 1, 'id_atividade': id_atividade }) }}" class="btn btn-success btn-sm"
               role="button"><i class="fas fa-check"></i></a>
            <a href="{{ path_for('monitor.inscricao.atualizar', { 'id_inscricao': user['id_inscricao'], 'valor': 0, 'id_atividade': id_atividade }) }}" class="btn btn-danger btn-sm"
               role="button"><i class="fas fa-times"></i></a>
            <a href="{{ path_for('monitor.inscricao.deletar', { 'id_inscricao': user['id_inscricao'], 'id_atividade': id_atividade }) }}"
               class="btn btn-dark btn-sm" role="button"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}