{% extends "/panel/templates/panel.html" %}
{% block content %}
<h4>Editar atividade</h4>
<form method="post">
    <div class="form-group">
        <label for="title">Título da Atividade</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Título da atividade"
               value="{{ ativInfo['nome'] }}" required>
    </div>
    <div class="form-group">
        <label for="duration">Duração de cada sessão (em minutos)</label>
        <input type="number" min="1" class="form-control" id="duration" name="duration" placeholder="Duração"
               value="{{ ativInfo['duracao'] }}" required>
    </div>
    <div class="form-group">
        <label for="capacity">Capacidade</label>
        <input type="number" min="0" class="form-control" id="capacity" name="capacity"
               placeholder="Capacidade de pessoas" value="{{ ativInfo['capacidade'] }}" required>
        <small id="capacityHelp" class="form-text text-muted">O número de pessoas que cada <strong>sessão</strong> suporta. Deixe 0
            para ilimitado.
        </small>
    </div>
    <div class="form-group">
        <label for="desc">Descrição <a href="https://docs.microsoft.com/pt-br/contribute/how-to-write-use-markdown"
                                       target="_blank"><i
                class="fab fa-markdown" data-toggle="tooltip" data-placement="top"
                title="Compatível com Markdown. Clique para saber mais!"></i></a></label>
        <textarea class="form-control" id="desc" name="desc" rows="3" maxlength="3000" required>{{ ativInfo['descricao'] }}</textarea>
    </div>
    <h5 class="mt-4">Visualização da descrição</h5>
    <span id="markdown"></span>
    <hr />
    <h5 class="mt-2">Sessões</h5>
    <div class="alert alert-primary" role="alert">
        As sessões são editadas em uma área diferente para comodidade.
    </div>
    <hr/>
    <div class="form-group form-check mt-3">
        {% if ativInfo['certificado'] %}
        <input type="checkbox" class="form-check-input" id="certificado" name="certificado" checked>
        {% else %}
        <input type="checkbox" class="form-check-input" id="certificado" name="certificado">
        {% endif %}
        <label class="form-check-label" for="certificado">Esta atividade fornece certificado.</label>
    </div>
    <button type="submit" class="btn btn-primary">Salvar atividade</button>
</form>


{% endblock %}

{% block customjs %}
<script>
    $('#desc').bind('input propertychange', function () {
        var converter = new showdown.Converter(),
            text = this.value.replace(/<(?:.|\n)*?>/gm, ''),
            html = converter.makeHtml(text);
        $('#markdown').html(html);
    });
    $(function () {
        var converter = new showdown.Converter(),
            text = $('#desc').text().replace(/<(?:.|\n)*?>/gm, ''),
            html = converter.makeHtml(text);
        $('#markdown').html(html);

        $('[data-toggle="tooltip"]').tooltip();
        $("#data").mask('00/00/0000', {reverse: false});
        $("#hora").mask('00:00', {reverse: false});
    });


</script>
{% endblock %}