{% extends "/panel/templates/panel.html" %}
{% block content %}
<h4>Listar usuários</h4>
<div class="alert alert-danger" role="alert">
    Remover um usuário <strong>deletará a conta do mesmo no sistema</strong>. Tome cuidado.
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Remover?</th>
    </tr>
    </thead>
    <tbody>
    {% for user in userList %}
    <tr>
        <td>{{ user['id_usuario'] }}</td>
        <td>{{ user['nome'] }}</td>
        <td>{{ user['email'] }}</td>
        <td><a href="{{ path_for('admin.remove.users', { 'id': user['id_usuario'] }) }}" class="btn btn-danger btn-sm" role="button"><i class="fas fa-times"></i></a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}