{% extends "/panel/templates/login.html" %}
{% block content %}
    <h1 class="h3 mb-3 font-weight-normal"><a href="{{ path_for('home') }}" class="no-decoration">Resgatar</a></h1>
    <p class="text-muted">Uma nova senha será enviada para o email cadastrado.</p>
    <hr class="colorgraph">
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputCPF" class="sr-only">CPF</label>
    <input type="text" id="inputCPF" name="inputCPF" class="form-control" placeholder="CPF" required>
    <button class="btn mt-3 btn-lg btn-primary btn-block" type="submit"><i class="fas fa-key"></i> Resgatar</button>
    <hr class="colorgraph">
    <div class="row mt-2">
        <div class="col">
            <a href="{{ path_for('registrar') }}" class="btn btn-info btn-sm" role="button"><i class="fas fa-passport"></i>
                Registrar</a>
            <a href="{{ path_for('entrar') }}" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-passport"></i>
                Entrar</a>
        </div>
    </div>
{% endblock %}