<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Painel</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
<div class="container">
    <form class="form-signin" method="post">
        {% if erro is defined %}
            <div class="alert alert-danger" role="alert">
                <strong>Erro!</strong> {{ erro }}
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal"><a href="/" class="no-decoration">Registrar-se</a></h1>
        <p class="text-muted">Se registre para ter acesso ao painel de atividades, monitoria e muito mais.</p>
        <hr class="colorgraph">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <label for="inputName" class="sr-only">Nome Completo</label>
        <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Nome Completo" required>
        <label for="inputCPF" class="sr-only">CPF</label>
        <input type="text" id="inputCPF" name ="inputCPF" class="form-control" placeholder="CPF" required>
        <label for="inputDate" class="sr-only">Data de Nascimento</label>
        <input type="text" id="inputDate" name="inputDate" class="form-control" placeholder="Data de Nascimento" required>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Senha" required>
        <p class="text-muted mb-3 font-weight-light">Você deve ter no mínimo 13 anos para se registrar.</p>
        <button class="btn btn-lg btn-info btn-block" type="submit"><i class="fas fa-passport"></i> Registrar</button>
        <hr class="colorgraph">
        <div class="row mt-2">
            <div class="col">
                <a href="/painel/entrar" class="btn btn-primary btn-sm" role="button"><i class="fas fa-compass"></i>
                    Entrar</a>
                <a href="/painel/recuperar" class="btn btn-secondary btn-sm" role="button"><i class="fas fa-key"></i>
                    Esqueci a senha</a>
            </div>
        </div>
    </form>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    $('#inputCPF').mask('000.000.000-00', {reverse: false});
    $('#inputDate').mask('00/00/0000', {reverse: false});
</script>
</body>
</html>
