<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Painel</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url() }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ base_url() }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}/css/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow collapse show" id="sidebarmenu" style="z-index: 1000">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path_for('home') }}">SNCT </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link d-md-block d-lg-none" href="#" data-toggle="collapse" data-target="#sidebarmenu"><i class="fas fa-ellipsis-h"></i> Abrir Menu</a>
            <a class="nav-link" href="{{ path_for('sair') }}">Sair</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="navbar-expand-lg">
        <nav class="col-md-2 bg-light sidebar collapse navbar-collapse" id="sidebarmenu">
            <div class="sidebar-sticky w-100">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('painel') }}">
                            <i class="fas fa-home mr-1"></i>
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('visitante.lista') }}">
                            <i class="fas fa-list mr-1"></i>
                            Gerenciar Inscrições
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('visitante.editar') }}">
                            <i class="fas fa-cog mr-1"></i>
                            Editar perfil
                        </a>
                    </li>
                </ul>
                {% if isMonitor %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Monitor</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-certificate mr-1"></i> Atividades</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path_for('monitor.list') }}"><i class="fas fa-book-open mr-1"></i> Controle de Atividades</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
                {% if isAdmin %}
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Administrador</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-id-badge mr-1"></i> Administradores</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path_for('admin.add') }}"><i class="fas fa-user-plus mr-1"></i> Adicionar Administradores</a>
                            <a class="dropdown-item" href="{{ path_for('admin.list') }}"><i class="fas fa-user-tie mr-1"></i> Controle de Administradores</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user mr-1"></i> Usuários</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path_for('admin.list.users') }}"><i class="fas fa-users mr-1"></i> Controle de Usuários</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-certificate mr-1"></i> Atividades</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path_for('admin.add.ativ') }}"><i class="fas fa-plus mr-1"></i> Adicionar Atividade</a>
                            <a class="dropdown-item" href="{{ path_for('admin.list.ativ') }}"><i class="fas fa-book-open mr-1"></i> Controle de Atividades</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link d-lg-none" href="#" data-toggle="collapse" data-target="#sidebarmenu">
                        <i class="fas fa-times mr-1"></i>
                        Fechar Menu
                    </a>
                </li>
                <footer class="footer">
                    <div class="container">
                        <span class="text-muted">Feito com &hearts; pelo 4 TI (2018)</span>
                    </div>
                </footer>
            </div>
        </nav>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {{ flash()|raw }}
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="{{ base_url() }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Markdown -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

</script>
{% block customjs %}
{% endblock %}
</body>
</html>
